body{
    background-color:#fff;
    background-image:url('torus-rainbow.png');
    background-size:70%;
    background-position:center top;
    background-repeat: repeat-y;
}
h1,h2{
    text-align:center;
}
h4,h5{
    display:inline;
}
.talkTitle{
    font-size:1.5em;
}
.speaker{
    font-size:1.1em;
    font-weight:normal;
    font-style:oblique;
}
#content{
    width:920px;
    margin:0px auto;
    padding:20px;
    background-color:#ccc;
    background-color:rgba(204,204,204,0.8);
    color:#333;
    font-family:sans-serif;
    font-size:1.1em;
}
a{
    color:purple;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

